@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.logo {
  font-family: 'Great Vibes', cursive;
}

.btn-hover {
  transition: all 0.5s ease;
}

body {
  background-color: #fffffe;
}

.centre {
  @apply flex justify-center items-center;
}

.just-between {
  @apply flex justify-between items-center;
}

.main-btn {
  @apply bg-primary-light hover:bg-primary text-dark hover:text-light font-medium btn-hover uppercase px-4 py-2 rounded;
}